.top-navigation {
    background-color: rgb(83 70 22 / 60%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.site-name {
    font-weight: bold;
}

.login-button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}