{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/confirmation.css' %}">
    <title>Подтверждение регистрации</title>
    <link rel="shortcut icon" href="{% static 'img/logo.svg' %}">
</head>
<body>
{% include 'register_header.html' %}
    <div class="confirmation-container">
        <h2>Подтвердите регистрацию</h2>
        <p>На вашу почту было отправлено письмо с инструкциями по подтверждению аккаунта.</p>
    </div>
</body>
</html>